.registration__form {
    background-color: white;
    padding: 38px;
    border-radius: 10px;
}

.form__block {
    display: flex;
    flex-direction: column;
}

.form__block__label {
    margin: 10px 0;
}

.form__block__input {
    background: #EDF2F7;
    border-radius: 5px;
    padding: 15px;
    min-width: 300px;
    margin-right: 10px;
    border: none;
}

.registration__form__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    height: 40px;
}

.buttons__forgot {
    border: none;
    background: transparent;
    color: rgba(49, 130, 206, 1);
    font-size: 20px;
}

.buttons__forgot:hover {
    cursor: pointer;
}

.buttons_singIn {
    background: #2A4365;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}

.buttons_singIn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}