.form {
    background-color: white;
    padding: 38px;
    border-radius: 10px;
}

.form_group {
    display: flex;
    flex-direction: column;
}

.label {
    margin: 10px 0;
}

.form_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    height: 40px;
}

.btn_forgot {
    border: none;
    background: transparent;
    color: rgba(49, 130, 206, 1);
    font-size: 20px;
}

.btn_forgot:hover {
    cursor: pointer;
}

.btn_singIn {
    background: #2A4365;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}

.btn_singIn:hover {
    /*box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);*/
    background-color: white;
    color: black;
    cursor: pointer;
}