.contract {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #E5E5E5;
    min-height: 100vh;
}

.form__contract {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 38px;
    border-radius: 10px;
    width: 50%;
    max-width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contract__label {
    flex-direction: column;
    margin-bottom: 10px;
}

.contract__select {
    background: #EDF2F7;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
}

.contract__select:hover {
    cursor: pointer;
}


.contract__dragNDrop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    font-size: 40px;
    z-index: 1;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dragNDrop__area {
    width: 100%;
    height: 100%;
    border: 5px dashed rgba(49, 130, 206, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7FAFC;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2A4365;
    z-index: 1;
}

.dragNDrop__image {
    width: 45px;
    height: 45px;
}

.dragNDrop__inputFile {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.dragNDrop__inputFile:focus {
    outline: none;
}

.contract__files {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.remove {
    color: red;
    border: none;
    border-radius: 10px;
}

.file__doc {
    text-decoration: none;
}

.file__doc:hover {
    cursor: pointer;
}

.file__name {
    font-size: 24px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file__remove:hover {
    cursor: pointer;
}

.user__info__table {
    margin-top: 15px;
    font-size: 16px;
}

.user__info__table tr td:first-child {
    min-width: 95px;
}

.user__info__table, .user__info__table td {
    border: 1px solid;
}

@media (max-width: 565px) {
    .dragNDrop__area {
        width: 100%;
    }

    .form__contract {
        width: 75%;
        padding: 30px;
    }

    .file__name {
        font-size: 16px;
        width: calc(100% - 40px);
    }

    .contract__files {
        width: 280px;
    }
}
