.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home__block__blue {
    background-color: #6e326e;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
}

.home__block__blue:nth-child(2) {
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
}

.block__p__white {
    color: white;
    font-size: 100px;
    line-height: 117px;
}

.block__p__cms {
    color: #2D3748;
    font-size: 100px;
    line-height: 117px;
}

.block__p__text {
    color: white;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
}

.home__block__find {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.find__input {
    background: #EDF2F7;
    border-radius: 5px;
    padding: 15px;
    min-width: 300px;
    margin-right: 10px;
    border: none;
}

.find__button {
    min-width: 70px;
    padding: 10px;
    background: #2A4365;
    border-radius: 5px;
    color: white;
}

.find__button:hover {
    cursor: pointer;
    background-color: transparent;
    color: black;
}

.not__find {
    font-size: 24px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 475px) {
    .block__p__white, .block__p__cms {
        font-size: 50px;
        line-height: 50px;
    }

    .home__block__blue {
        min-height: 100px;
    }

    .block__p__text {
        font-size: 25px;
        line-height: 27px;
    }

    .find__input {
        min-width: calc(100% - 30px);
    }
}
