.header {
    background-color: #2D3748;
    padding: 19px 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__block {
    display: flex;
    align-items: center;
}

.block__home {
    color: white;
    margin-left: 10px;
}

.block__home:hover {
    cursor: pointer;
}

.block__logo {
    width: 40px;
    height: 40px;
}

.header__block__links {
    display: flex;
    align-items: center;
}

.links__link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.links__link:hover {
    cursor: pointer;
}

.links__button {
    background-color: #2D3748;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.links__button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.sub__header {
    margin-top: 15px;
    width: 100%;
    padding-left: 20px;
}

.sub__header__button__back {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    background-color: #2D3748;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}


@media (max-width: 475px) {
    .header {
        padding: 19px 16px;
    }
}
