.header {
    background-color: #2D3748;
    padding: 19px 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__goHome {
    color: white;
    margin-left: 10px;
}

.header__goHome:hover {
    cursor: pointer;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
}

.btn {
    background-color: #2D3748;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.sub-header {
    margin-top: 15px;
    width: 100%;
    padding-left: 20px;
}

.sub-header-button_back {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    background-color: #2D3748;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

.header__links {
    display: flex;
    align-items: center;
}

.link {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
}

.link:hover {
    cursor: pointer;
}

@media (max-width: 475px) {
    .header {
        padding: 19px 16px;
    }
}
