.edit__status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
}

.edit__status__add {
    display: flex;
    justify-content: space-between;
    min-width: 320px;
}

.add__input__status {
    background: #EDF2F7;
    border-radius: 5px;
    padding: 15px;
    min-width: 230px;
    border: none;
}

.edit__status__section__button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    min-width: 300px;
}

.edit_icon {
    width: 15px;
    height: 15px;
}

.save_icon {
    width: 20px;
    height: 20px;
}

.save_icon:hover{
    cursor: pointer;
}

.btns_icon {
    display: flex;
}