.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'docs-Roboto', Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

.edit__form {
    width: 100vh;
}

.form__group__header {
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 15px;
    text-align: center;
    border-top: 10px solid #6e326e;
}

.form__body {
    display: flex;
    flex-direction: column;
}

.body__group {
    display: flex;
    flex-direction: column;
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 15px;
}

.group__remove {
    width: 30px;
    height: 30px;
    align-self: flex-end;
}

.group__remove:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.add__block {
    display: flex;
    align-items: center;
}

.add__block__plus {
    width: 30px;
    height: 30px;
}

.add__block__plus:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.add__block__p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #202124;
    margin: 10px;
}

.group__input__block {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.block__p {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #202124;
    min-width: 200px;
}

.block__select {
    width: 51%;
}

.block__input {
    width: 50%;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #202124;
}

.block__result {
    margin-top: 5px;
    width: 50%;
    height: 30px;
    border: none;
    outline: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #202124;
    border-bottom: 1px solid #ccc;
}

.block__result::placeholder {
    color: #ccc;
}

.group__radio__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.group__radio__header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 0;
}

.block__radio__label {
    cursor: pointer;
    text-indent: 35px;
    overflow: visible;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
}

.block__radio__label::before {
    background: #FFFFFF;
    border: 2px solid #6e326e;
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}

input[type="radio"] {
    visibility: hidden;
}

input[type="radio"]:checked:after {
    visibility: visible;
    background-color: #6e326e;
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 9px;
    height: 9px;
    border-radius: 100%;
}


input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

input:checked[type="checkbox"] {
    background: #6e326e;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 50%;
}

.subheader {
    margin: 0;
    color: white;
    padding: 12px 24px;
    background-color: #6e326e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog__wrapper {
    display: block;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.dialog__form {
    background-color: #FFFFFF;
    width: 50%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 767px) {
    .edit__form {
        width: 100%;
    }

    .block__input {
        width: 100%;
    }
    .group__radio__block{
        justify-content: space-between;
        font-size: 14px;
    }
    .group__radio__block img{
      align-self: flex-start;
    }
    .block__radio__label{
        margin: 0;
    }
    h1 {
        font-size: 20px;
    }
}

.block_btn {
    display: flex;
    justify-content: space-between;
}